<!DOCTYPE html>

<!--
 // WEBSITE: https://themefisher.com
 // TWITTER: https://twitter.com/themefisher
 // FACEBOOK: https://www.facebook.com/themefisher
 // GITHUB: https://github.com/themefisher/
-->

<html>
<head>
    <meta charset="utf-8">
    <title>BREAKBORED</title>

    <!-- mobile responsive meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  
    <!-- theme meta -->
    <meta name="theme-name" content="galaxy" />

    <!-- ** Plugins Needed for the Project ** -->
    <!-- Bootstrap -->
    <link rel="stylesheet" href="/static/layout-bootstrap/plugins/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="/static/layout-bootstrap/plugins/fontawesome/css/all.css">

    <!-- Main Stylesheet -->
    <link href="/static/layout-bootstrap/css/style.css" rel="stylesheet">

    <!--Favicon-->
    <link rel="shortcut icon" href="/static/layout-bootstrap/images/logo.png" type="image/x-icon">
    <link rel="icon" href="/static/layout-bootstrap/images/logo.png" type="image/x-icon">

</head>
<body>
    <!-- START preloader-wrapper -->
    <div class="preloader-wrapper">
        <div class="preloader-inner">
            <div class="spinner-border text-red"></div>
        </div>
    </div>
    <!-- END preloader-wrapper -->
    
    <!-- START main-wrapper -->
    <section class="d-flex">
  
<!-- start of sidenav -->
<aside><div class="sidenav position-sticky d-flex flex-column ">
    <!-- buraya logo eklenecek -->
    <a class="navbar-brand logo" href="/user/index">
        <img src="/static/layout-bootstrap/images/logo.png" alt="">
    </a>
    <!-- end of navbar-brand -->

    <div class="navbar navbar-dark my-4 p-0 font-primary">
        <ul class="navbar-nav w-100">
            <li class="nav-item active">
                <a class="nav-link text-white px-0 pt-0" href="/user/index">Ana Sayfa</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link text-white px-0" href="about.html">Videolar</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link text-white px-0" href="about.html">Filmler</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link text-white px-0" href="about.html">Kitaplar</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link text-white px-0" href="contact.html">Makaleler</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link text-white px-0" href="contact.html">Bloglar</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link text-white px-0" href="contact.html">Haberler</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link text-white px-0" href="contact.html">Müzikler</a>
            </li>
            
            <li class="nav-item  accordion">
                <div id="drop-menu" class="drop-menu collapse">
                    <a class="d-block " href="/user/edit-profile">Hesap Ayarları</a>
                    <a class="d-block " href="/user/my-profile">Hesap Bilgileri</a>
                </div>
                <a class="nav-link text-white" href="#!" role="button" data-toggle="collapse" data-target="#drop-menu" aria-expanded="false" aria-controls="drop-menu">Hesabın</a>
            </li>
            <li class="nav-item mt-3">
                <!-- <select class="custom-select bg-transparent rounded-0 text-white shadow-none" id="pick-lang">
                    <option selected value="en">Oturumu sonlandır</option>
                </select> -->
                <form id="logout-form" action="/user/logout" method="post">
                    <button type="submit" class="btn btn-primary">Oturumu Sonlandır</button>
                </form>
            </li>
            
        </ul>
    </div>
    <!-- end of navbar -->

   
    <!-- end of social-links -->
</div></aside>
<!-- end of sidenav -->
    <div class="main-content">
        <!-- start of mobile-nav -->
<header class="mobile-nav pt-4">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-6">
                <a href="index.html">
                    <img src="/static/layout-bootstrap/images/logo.png" alt="">
                </a>
            </div>
            <div class="col-6 text-right">
                <button class="nav-toggle bg-transparent border text-white">
                    <span class="fas fa-bars"></span>
                </button>
            </div>
        </div>
    </div>
</header>
<div class="nav-toggle-overlay"></div>
<!-- end of mobile-nav -->

        <div class="container pt-4 mt-5">
            <div class="row justify-content-between">
                <div class="col-lg-7">
                    <div class="card post-item bg-transparent border-0 mb-5">
                        <a href="post-details.html">
                            <img class="card-img-top rounded-0" src="/static/layout-bootstrap/img/music.png" alt="">
                        </a>
                        <div class="card-body px-0">
                            <h2 class="card-title">
                                <a class="text-white opacity-75-onHover" href="post-details.html">Hanfendi</a>
                            </h2>
                            <ul class="post-meta mt-3">
                                
                                <li class="d-inline-block">
                                    <span class="fas fa-list-alt text-primary"></span>
                                    <a class="ml-1" href="#">Müzik</a>
                                </li>
                            </ul>
                            <p class="card-text my-4">Hanfendi duyguları hünerli bir şekilde dokuyarak dinleyicileri içsel bir yolculuğa çıkarıyor, melodileriyle ruhlara dokunuyor.</p>
                            <a href="post-details.html" class="btn btn-primary">Dinle! <img src="/static/layout-bootstrap/images/arrow-right.png" alt=""></a>
                           
                        </div>
                    </div>


                    <div class="card post-item bg-transparent border-0 mb-5">
                        <a href="post-details.html">
                            <img class="card-img-top rounded-0" src="/static/layout-bootstrap/img/article.png" alt="">
                        </a>
                        <div class="card-body px-0">
                            <h2 class="card-title">
                                <a class="text-white opacity-75-onHover" href="post-details.html">Conspiracy thinking and social media use are associated with ability to detect deepfakes</a>
                            </h2>
                            <ul class="post-meta mt-3">
                                
                                <li class="d-inline-block">
                                    <span class="fas fa-list-alt text-primary"></span>
                                    <a class="ml-1" href="#">Article</a>
                                </li>
                            </ul>
                            <p class="card-text my-4">Komplonun gölgesi altında büyüyen sosyal medya kullanımı, derin sahtecilikleri algılamada yeteneği artırıyor.</p>
                            <a href="post-details.html" class="btn btn-primary">Makaleyi Oku! <img src="/static/layout-bootstrap/images/arrow-right.png" alt=""></a>
                        </div>
                    </div>
                    <!-- end of post-item -->
                    
                    <div class="card post-item bg-transparent border-0 mb-5">
                        <a href="post-details.html">
                            <img class="card-img-top rounded-0" src="/static/layout-bootstrap/img/film.png" alt="">
                        </a>
                        <div class="card-body px-0">
                            <h2 class="card-title">
                                <a class="text-white opacity-75-onHover" href="post-details.html">I am Legend</a>
                            </h2>
                            <ul class="post-meta mt-3">
                                
                                <li class="d-inline-block">
                                    <span class="fas fa-list-alt text-primary"></span>
                                    <a class="ml-1" href="#">Film</a>
                                </li>
                            </ul>
                            <p class="card-text my-4">Yalnızlık, karanlık bir dünyada insanlığın son umudu olabilir.</p>
                            <a href="post-details.html" class="btn btn-primary">Hemen İzle! <img src="/static/layout-bootstrap/images/arrow-right.png" alt=""></a>
                        </div>
                    </div>
                    <!-- end of post-item -->
                    
                    <div class="card post-item bg-transparent border-0 mb-5">
                        <a href="post-details.html">
                            <img class="card-img-top rounded-0" src="/static/layout-bootstrap/img/series.png" alt="">
                        </a>
                        <div class="card-body px-0">
                            <h2 class="card-title">
                                <a class="text-white opacity-75-onHover" href="post-details.html">Young Sheldon</a>
                            </h2>
                            <ul class="post-meta mt-3">
                                
                                <li class="d-inline-block">
                                    <span class="fas fa-list-alt text-primary"></span>
                                    <a class="ml-1" href="#">Dizi</a>
                                </li>
                            </ul>
                            <p class="card-text my-4">Young Sheldon, dahi bir çocuğun sıra dışı dünyasına kahkahalarla dolu bir pencere açıyor.</p>
                            <a href="post-details.html" class="btn btn-primary">Hemen İzle! <img src="/static/layout-bootstrap/images/arrow-right.png" alt=""></a>
                        </div>
                    </div>

                    <div class="card post-item bg-transparent border-0 mb-5">
                        <a href="post-details.html">
                            <img class="card-img-top rounded-0" src="/static/layout-bootstrap/img/serenad.jpg" alt="">
                        </a>
                        <div class="card-body px-0">
                            <h2 class="card-title">
                                <a class="text-white opacity-75-onHover" href="post-details.html">Serenad</a>
                            </h2>
                            <ul class="post-meta mt-3">
                                
                                <li class="d-inline-block">
                                    <span class="fas fa-list-alt text-primary"></span>
                                    <a class="ml-1" href="#">Kitap</a>
                                </li>
                            </ul>
                            <p class="card-text my-4">Serenad, insanın iç dünyasında müzikle dans eden bir roman; Zülfü Livaneli'nin kelimeleriyle kalplerde unutulmaz bir melodi bırakıyor</p>
                            <a href="post-details.html" class="btn btn-primary">Okumaya Başla! <img src="/static/layout-bootstrap/images/arrow-right.png" alt=""></a>
                        </div>
                    </div>

                    <div class="card post-item bg-transparent border-0 mb-5">
                        <a href="post-details.html">
                            <img class="card-img-top rounded-0" src="/static/layout-bootstrap/img/whatsApp.png" alt="">
                        </a>
                        <div class="card-body px-0">
                            <h2 class="card-title">
                                <a class="text-white opacity-75-onHover" href="post-details.html">WhatsApp</a>
                            </h2>
                            <ul class="post-meta mt-3">
                                
                                <li class="d-inline-block">
                                    <span class="fas fa-list-alt text-primary"></span>
                                    <a class="ml-1" href="#">Haber</a>
                                </li>
                            </ul>
                            <p class="card-text my-4">WhatsApp iyileştirilmiş alt gezinme çubuğu artık resmi olarak kullanıma sunuluyor</p>
                            <a href="post-details.html" class="btn btn-primary">Haberi Oku! <img src="/static/layout-bootstrap/images/arrow-right.png" alt=""></a>
                        </div>
                    </div>
                    
                    <!-- end of post-item -->
                </div>
                <div class="col-lg-4 col-md-5">
                    <div class="widget text-center">
                        <img class="author-thumb-sm rounded-circle d-block mx-auto" src="{{user.profileimage}}" alt="">
                        <h2 class="widget-title text-white d-inline-block mt-4">Sadece {{ user.name }}</h2>
                      
                        <p class="mt-4"><h4>İçeriklerim yalnızca sana özgü. Neyi sevdiğini neyi sevmediğini çok iyi biliyorum. Senin için hazırladığım analizlerime de göz atmak ister misin?</h4></p>
                        
                       
                    </div>
                    <!-- end of author-widget -->

                    <div class="widget bg-dark p-4 text-center">
                        <h2 class="widget-title text-white d-inline-block mt-4">Program Analizi</h2>
                        
                        <a href="post-details.html">
                            <img class="card-img-top rounded-0" src="/static/layout-bootstrap/img/analyse.png" alt="">
                        </a>
                        
                        <p class="mt-4">Duygu durumunu içerikler kadar günlük rutinin de belirliyor. Hemen programını kaydedebilir, bunun için analiz isteyebilirsin.</p>
                        
                        <form action="#">
                            <div class="form-group">
                                
                                <button class="btn btn-primary">Programını Kaydet! <img src="/static/layout-bootstrap/images/arrow-right.png" alt=""></button>
                            </div>
                        </form>
                    </div>

                    <div class="widget bg-dark p-4 text-center">
                        <h2 class="widget-title text-white d-inline-block mt-4">Duygu Durum Analizi</h2>
                        
                        <a href="post-details.html">
                            <img class="card-img-top rounded-0" src="/static/layout-bootstrap/img/emotion.png" alt="">
                        </a>
                        
                        <p class="mt-4">Duygu durumun hızlı bir şekilde mi değişti. Hemen tespit edip içeriklerini güncelleyebilirim.</p>
                        
                        <form action="#">
                            <div class="form-group">
                                
                                <button class="btn btn-primary">Duygu durumumu değiştir! <img src="/static/layout-bootstrap/images/arrow-right.png" alt=""></button>
                            </div>
                        </form>
                    </div>

                    <!-- end of subscription-widget -->

                    <div class="widget">
                        <div class="mb-5 text-center">
                            <h2 class="widget-title text-white d-inline-block">Yeni Analizler</h2>
                        </div>
                        <div class="card post-item bg-transparent border-0 mb-5">
                            <a href="post-details.html">
                                <img class="card-img-top rounded-0" src="/static/layout-bootstrap/img/huzur.png" alt="">
                            </a>
                            <div class="card-body px-0">
                                <h2 class="card-title">
                                    <a class="text-white opacity-50-onHover" href="post-details.html"><h4>Son zamanlarda huzurlu hissediyorsun. Buna ödevlerini tam zamanında tamamlaman sebep oldu diye düşünüyorum. Bu konuda analizim hazır!</h4></a>
                                </h2>
                                <ul class="post-meta mt-3 mb-4">
                                    <li class="d-inline-block mr-3">
                                        <span class="fas fa-clock text-primary"></span>
                                        <a class="ml-1" href="#">30 March, 2023</a>
                                    </li>
                                    <li class="d-inline-block">
                                        <span class="fas fa-list-alt text-primary"></span>
                                        <a class="ml-1" href="#">Program Analizi</a>
                                    </li>
                                </ul>
                                <a href="post-details.html" class="btn btn-primary">Analizi Gör! <img src="images/arrow-right.png" alt=""></a>
                            </div>
                        </div>

                        <div class="card post-item bg-transparent border-0 mb-5">
                            <a href="post-details.html">
                                <img class="card-img-top rounded-0" src="/static/layout-bootstrap/img/energic.png" alt="">
                            </a>
                            <div class="card-body px-0">
                                <h2 class="card-title">
                                    <a class="text-white opacity-75-onHover" href="post-details.html"><h4>Kendini oldukça enerjik hissediyorsun. Bence bu kesinlikle sürekli Mabel Matiz şarkıları dinlediğin için. Hemen analizimi inceleyebilirsin!</h4></a>
                                </h2>
                                <ul class="post-meta mt-3 mb-4">
                                    <li class="d-inline-block mr-3">
                                        <span class="fas fa-clock text-primary"></span>
                                        <a class="ml-1" href="#">30 March, 2023</a>
                                    </li>
                                    <li class="d-inline-block">
                                        <span class="fas fa-list-alt text-primary"></span>
                                        <a class="ml-1" href="#">İçerik Analizi</a>
                                    </li>
                                </ul>
                                <a href="post-details.html" class="btn btn-primary">Analizi Gör! <img src="/static/layout-bootstrap/images/arrow-right.png" alt=""></a>
                            </div>
                        </div>

                        <!-- end of widget-post-item -->
                        
                        <!-- end of widget-post-item -->
                    </div>


                    <div class="widget">
                        <div class="mb-5 text-center">
                            <h2 class="widget-title text-white d-inline-block">Geçmiş Analizler</h2>
                        </div>
                        <div class="card post-item bg-transparent border-0 mb-5">
                            <a href="post-details.html">
                                <img class="card-img-top rounded-0" src="/static/layout-bootstrap/img/gergin.png" alt="">
                            </a>
                            <div class="card-body px-0">
                                <h2 class="card-title">
                                    <a class="text-white opacity-50-onHover" href="post-details.html"><h4>Geçen hafta kendini biraz gergin hissettin. Buna her gün toplantıya katılmanın sebep olduğunu düşünüyorum. Bununla ilgili bir analizim var.</h4></a>
                                </h2>
                                <ul class="post-meta mt-3 mb-4">
                                    <li class="d-inline-block mr-3">
                                        <span class="fas fa-clock text-primary"></span>
                                        <a class="ml-1" href="#">20 March, 2023</a>
                                    </li>
                                    <li class="d-inline-block">
                                        <span class="fas fa-list-alt text-primary"></span>
                                        <a class="ml-1" href="#">Program Analizi</a>
                                    </li>
                                </ul>
                                <a href="post-details.html" class="btn btn-primary">Analizi Gör! <img src="/static/layout-bootstrap/images/arrow-right.png" alt=""></a>
                            </div>
                        </div>

                        <div class="card post-item bg-transparent border-0 mb-5">
                            <a href="post-details.html">
                                <img class="card-img-top rounded-0" src="/static/layout-bootstrap/img/deep.png" alt="">
                            </a>
                            <div class="card-body px-0">
                                <h2 class="card-title">
                                    <a class="text-white opacity-75-onHover" href="post-details.html"><h4>Geçen hafta kendini biraz depresif hissettin. Buna sayfanda izlediğin filmin sebep olduğunu düşünüyorum. Hemen analizimi inceleyebilirsin!</h4></a>
                                </h2>
                                <ul class="post-meta mt-3 mb-4">
                                    <li class="d-inline-block mr-3">
                                        <span class="fas fa-clock text-primary"></span>
                                        <a class="ml-1" href="#">20 March, 2023</a>
                                    </li>
                                    <li class="d-inline-block">
                                        <span class="fas fa-list-alt text-primary"></span>
                                        <a class="ml-1" href="#">İçerik Analizi</a>
                                    </li>
                                </ul>
                                <a href="post-details.html" class="btn btn-primary">Analizi Gör! <img src="/static/layout-bootstrap/images/arrow-right.png" alt=""></a>
                            </div>
                        </div>

                        
                        <!-- end of widget-post-item -->
                    </div>
                    <!-- end of post-items widget -->
                </div>
            </div>
        </div>

       
    </div>

    </section>
    <!-- END main-wrapper -->

    <!-- All JS Files -->
    <script src="/static/layout-bootstrap/plugins/jQuery/jquery.min.js"></script>
    <script src="/static/layout-bootstrap/plugins/bootstrap/bootstrap.min.js"></script>

    <!-- Main Script -->
    <script src="/static/layout-bootstrap/js/script.js"></script>

</body>
</html>
