<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Giriş Yap</title>

    <!-- Font Icon -->
    <link rel="stylesheet" href="/static/login-bootstrap/fonts/material-icon/css/material-design-iconic-font.min.css">

    <!-- Main css -->
    <link rel="stylesheet" href="/static/login-bootstrap/css/style.css">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

    <div class="main">
        <!-- Sing in  Form -->
        <section class="sign-in">
            <div class="container">
                <div class="signin-content">
                    <div class="signin-image">
                        <figure><img src="/static/login-bootstrap/images/signin-image.jpg" alt="sing up image"></figure>
                        <a href="/user/register" class="signup-image-link">Hesap Oluştur</a>
                        <a href="/user/change-password" class="signup-image-link">Şifremi Unuttum</a>
                    </div>

                    <div class="signin-form">
                        {% with messages=get_flashed_messages(with_categories=true) %}
                        {% if messages %}
                        {% for category,message in messages %}
                        <div class="alert alert-{{category}}">
                            <strong>{{message}}</strong>
                        </div>
                        {% endfor %}
                        {% endif %}
                        {% endwith %}
                        <h2 class="form-title">GIRIS</h2>
                        <form method="POST" class="register-form" id="login-form" action="/user/login">
                            <div class="form-group">
                                <label for="your_name"><i class="zmdi zmdi-account material-icons-name"></i></label>
                                <input type="text" name="your_name" id="your_name" placeholder="Kullanıcı Adı"/>
                            </div>
                            <div class="form-group">
                                <label for="your_password"><i class="zmdi zmdi-lock"></i></label>
                                <input type="password" name="your_password" id="your_password" placeholder="Şifre"/>
                            </div>
                            <div class="form-group">
                                <input type="checkbox" name="remember-me" id="remember-me" class="agree-term" />
                                <label for="remember-me" class="label-agree-term"><span><span></span></span>Beni Hatırla</label>
                            </div>
                            <div class="form-group form-button">
                                <input type="submit" name="signin" id="signin" class="form-submit" value="Giris Yap"/>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>

    </div>

    <!-- Beni hatırla seçeneğinde olusturulmus bir çerez varsa tarayıcıda bu çerezler sayesinde doğrudan bilgiler girilir -->
    <script>
        window.onload = function() {
            var username = getCookie("username");
            var password = getCookie("password");

            if (username && password) {
                document.getElementById("your_name").value = username;
                document.getElementById("your_password").value = password;
            }
        };

        // Belirli bir isme sahip çerezin değerini al
        function getCookie(name) {
            var value = "; " + document.cookie;
            // console.log(document.cookie); document cookie mevcut cookie dizesi döndürüyor. (; username="kadir")tarzında
            var parts = value.split("; " + name + "="); // ; cookiename="test" şeklinde ayırarak array'e dönüştürüyor.
            if (parts.length == 2) return parts.pop().split(";").shift();
        }
    </script>
    <script src="/static/login-bootstrap/vendor/jquery/jquery.min.js"></script>
    <script src="/static/login-bootstrap/js/main.js"></script>
</body><!-- This templates was made by Colorlib (https://colorlib.com) -->
</html>