<!DOCTYPE html>

<!--
 // WEBSITE: https://themefisher.com
 // TWITTER: https://twitter.com/themefisher
 // FACEBOOK: https://www.facebook.com/themefisher
 // GITHUB: https://github.com/themefisher/
-->

<html>
<head>
    <meta charset="utf-8">
    <title>BREAKBORED </title>

    <!-- mobile responsive meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- ** Plugins Needed for the Project ** -->
    <!-- Bootstrap -->
    <link rel="stylesheet" href="/static/layout-bootstrap/plugins/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="/static/layout-bootstrap/plugins/fontawesome/css/all.css">

    <!-- Main Stylesheet -->
    <link href="/static/layout-bootstrap/css/style.css" rel="stylesheet">

    <!--Favicon-->
    <link rel="shortcut icon" href="/static/layout-bootstrap/images/logo.png" type="image/x-icon">
    <link rel="icon" href="/static/layout-bootstrap/images/logo.png" type="image/x-icon">

</head>
<body>
    <!-- START preloader-wrapper -->
    <div class="preloader-wrapper">
        <div class="preloader-inner">
            <div class="spinner-border text-red"></div>
        </div>
    </div>
    <!-- END preloader-wrapper -->
    
    <!-- START main-wrapper -->
    <section class="d-flex">
  
<!-- start of sidenav -->
<aside><div class="sidenav position-sticky d-flex flex-column">
    <a class="navbar-brand logo" href="index.html">
        <img src="/static/layout-bootstrap/images/logo.png" alt="">
    </a>
    <!-- end of navbar-brand -->

    <div class="navbar navbar-dark my-4 p-0 font-primary">
        <ul class="navbar-nav w-100">
            <li class="nav-item ">
                <a class="nav-link text-white px-0 pt-0" href="index.html">Ana Sayfa</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link text-white px-0" href="about.html">Hakkında</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link text-white px-0" href="contact.html">İletişim</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link text-white px-0" href="/user/register">Kayıt Ol</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link text-white px-0" href="/user/login">Giriş Yap</a>
            </li>
        </ul>
    </div>
    <!-- end of navbar -->
</div></aside>
<!-- end of sidenav -->
<div class="main-content">
            <!-- start of mobile-nav -->
            <header class="mobile-nav pt-4">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-6">
                            <a href="index.html">
                                <img src="/static/layout-bootstrap/images/logo.png" alt="">
                            </a>
                        </div>
                        <div class="col-6 text-right">
                            <button class="nav-toggle bg-transparent border text-white">
                                <span class="fas fa-bars"></span>
                            </button>
                        </div>
                    </div>
                </div>
            </header>
            <div class="nav-toggle-overlay"></div>
    <!-- end of mobile-nav -->

    <div class="container py-4 my-5">
        <div class="row justify-content-between">
            <div class="col-lg-7">
                <div class="card post-item bg-transparent border-0 mb-5">
                    <a href="/user/register">
                        <img class="card-img-top rounded-0" src="/static/layout-bootstrap/images/post/post-lg/book.png" alt="">
                    </a>
                    <div class="card-body px-0">
                        <h2 class="card-title text-white opacity-75-onHover">
                            Hangi Kitaplar Gündemde? Yapay Zeka Analiz Ediyor!</a>
                        </h2>
                        <ul class="post-meta mt-3">
                                
                            <li class="d-inline-block">
                                <span class="fas fa-list-alt text-primary"></span>
                                <a class="ml-1" href="#">Kitap</a>
                            </li>
                        </ul>
                        <p class="card-text my-4">Kitap dünyasında neler popüler, yapay zeka analizlerimizle keşfedin. Bu yılın en çok tartışılan eserleri burada.</p>
                        <a href="/user/register" class="btn btn-primary">Hemen Okumaya Başla <img src="/static/layout-bootstrap/images/arrow-right.png" alt=""></a>
                    </div>
                </div>
                <!-- end of post-item -->
                
                <div class="card post-item bg-transparent border-0 mb-5">
                    <a href="/user/register">
                        <img class="card-img-top rounded-0" src="/static/layout-bootstrap/images/post/post-lg/music.jpg" alt="">
                    </a>
                    <div class="card-body px-0">
                        <h2 class="card-title text-white opacity-75-onHover">
                            Yapay Zeka Sayesinde Dinleyin: Bu Yılın Efsane Hitleri</a>
                        </h2>
                        <ul class="post-meta mt-3">
                                
                            <li class="d-inline-block">
                                <span class="fas fa-list-alt text-primary"></span>
                                <a class="ml-1" href="#">Müzik</a>
                            </li>
                        </ul>
                        <p class="card-text my-4">En yeni, en popüler şarkıları keşfetmek için yapay zeka analizlerimizi inceleyin. 2024’ün müzik dünyasını şekillendiren hit parçalarını burada bulacaksınız.</p>
                        <a href="/user/register" class="btn btn-primary">Hemen Dinlemeye Başla <img src="/static/layout-bootstrap/images/arrow-right.png" alt=""></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-5">
                <div class="card post-item bg-transparent border-0 mb-5">
                    <a href="/user/register">
                        <img class="card-img-top rounded-0" src="/static/layout-bootstrap/images/post/post-md/01.png" alt="">
                    </a>
                    <div class="card-body px-0">
                        <h2 class="card-title text-white opacity-75-onHover">
                            Dizi Severler Buraya! Yapay Zeka En İyileri Seçti
                        </h2>
                        <ul class="post-meta mt-3">
                            <li class="d-inline-block">
                                <span class="fas fa-list-alt text-primary"></span>
                                <a class="ml-1" href="#">Dizi</a>
                            </li>
                        </ul>
                        <p class="card-text my-4">Yapay zeka kullanarak belirlenen ve kesinlikle izlenmesi gereken dizileri kaçırmayın. İzleyiciler ve eleştirmenler tarafından tam not almış yapımlar burada.</p>
                        <a href="/user/register" class="btn btn-primary">Hemen İzlemeye Başla<img src="/static/layout-bootstrap/images/arrow-right.png" alt=""></a>
                    </div>
                </div>
                <!-- end of widget-post-item -->
                <div class="card post-item bg-transparent border-0 mb-5">
                    <a href="/user/register">
                        <img class="card-img-top rounded-0" src="/static/layout-bootstrap/images/post/post-md/02.png" alt="">
                    </a>
                    <div class="card-body px-0">
                        <h2 class="card-title text-white opacity-75-onHover">
                            Yapay Zeka ile Keşfedin: Bu Yılın Film Harikaları
                        </h2>
                        <ul class="post-meta mt-3">  
                            <li class="d-inline-block">
                                <span class="fas fa-list-alt text-primary"></span>
                                <a class="ml-1" href="#">Film</a>
                            </li>
                        </ul>
                        <p class="card-text my-4">Sinema dünyasının en parlak yıldızları hangileri? Yapay zeka, izlenmesi gereken en iyi filmleri sizler için seçti.</p>
                        <a href="/user/register" class="btn btn-primary">Hemen İzlemeye Başla<img src="/static/layout-bootstrap/images/arrow-right.png" alt=""></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

    </section>
    <!-- END main-wrapper -->

    <!-- All JS Files -->
    <script src="/static/layout-bootstrap/plugins/jQuery/jquery.min.js"></script>
    <script src="/static/layout-bootstrap/plugins/bootstrap/bootstrap.min.js"></script>

    <!-- Main Script -->
    <script src="/static/layout-bootstrap/js/script.js"></script>
</body>
</html>
