<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Soru 1 {{yanit[1]}}</h1>
    <h1>Soru 2 {{yanit['2']}}</h1>
    <h1>Soru 3 {{yanit['3']}}</h1>
    <h1>Soru 4 {{yanit['4']}}</h1>
    <h1>Soru 5 {{yanit['5']}}</h1>
    <h1>Soru 6 {{yanit['6']}}</h1>
    <h1>Soru 7 {{yanit['7']}}</h1>
    <h1>Soru 8 {{yanit['8']}}</h1>
    <h1>Soru 9 {{yanit['9']}}</h1>


    <h1>test {{test}}</h1>
    <h1>test 2 {{yanit["tesxt"]}}</h1>
</body>
</html>